.form {
  text-align: center;
  border-radius: 0.5rem;
  background-color: white;
  padding: 2rem;
  max-width: 700px !important;
}

.form h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #001628;
  margin-bottom: 2rem;
}

.ant-input {
  display: block;
  border-radius: 0.5rem !important;
  border: 1px solid #022d51 !important;
  padding: 0.25rem;
  margin-bottom: 1rem;
  text-align: center !important;
}

.form Button {
  margin-top: 1.2em;
  background-color: #001628 !important;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
  margin-left: 0.5rem;
}
.form Button:hover {
  color: #001628 !important;
  background-color: white !important;
}
