.dashed-border {
  border-bottom: 2px dotted black !important;
}

.dashed-border h3 {
  margin-bottom: 0;
}
.bill-modal h1 {
  font-size: 1.8rem;
}

.bill-modal p {
  margin-top: 0;
  margin-bottom: 0;
}
