.category {
  border: 2px solid rgb(160, 156, 156);
  margin-right: 50px;
  padding-left: 25px;
  border-radius: 10px;
  cursor: pointer;
}

.selected-category {
  border: 3px solid rgb(35, 34, 34);
}

.category h4 {
  margin-right: 25px;
  font-size: 22px;
}

.category img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .categories {
    width: 100%;
    overflow-x: scroll;
  }
}
